body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


header {
  background-color: #ce6173;
  color: white;
  padding: 25px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}


.imagem-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.imagem-container img {
  width: 100%;
  max-width: 900px;
  height: 320px;
  object-fit: cover;
}


.hero {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  max-width: 800px;
  text-align: justify;
}

.content-box h2 {
  color: rgb(242, 17, 126);
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.content-box p {
  line-height: 1.6;
  font-size: 17px;
  margin-bottom: 15px;
}


footer {
  background: #d41b8a;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
